.h3{
    color: #3ECAFF;
    font-family: "Times New Roman", Times, serif;
    font-weight : 'bold';
}
.Brandstyle {
    color: #61dafb;
    font-size: '120%';
    font-family: 'Bakbak One';
}
.Homebar {
    color: #9FFF33;
}